In [1]:
import pandas as pd

In [15]:
df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [16]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [17]:
df_08.drop(columns=["Stnd", "Underhood ID", "FE Calc Appr", "Unadj Cmb MPG"],inplace=True)

In [18]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Veh Class             2404 non-null   object
 8   Air Pollution Score   2404 non-null   object
 9   City MPG              2205 non-null   object
 10  Hwy MPG               2205 non-null   object
 11  Cmb MPG               2205 non-null   object
 12  Greenhouse Gas Score  2205 non-null   object
 13  SmartWay              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [19]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [20]:
df_18.drop(["Stnd", "Stnd Description", "Underhood ID", "Comb CO2"], axis=1, inplace=True)
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Veh Class             1611 non-null   object
 8   Air Pollution Score   1611 non-null   int64
 9   City MPG              1611 non-null   object
 10  Hwy MPG               1611 non-null   object
 11  Cmb MPG               1611 non-null   object
 12  Greenhouse Gas Score  1611 non-null   int64
 13  SmartWay              1611 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 176.3+ KB

In [21]:
df_08.to_csv('data_08_v1.csv', index=False)
df_18.to_csv('data_18_v1.csv', index=False)

In [22]:
df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [ ]:
# Use dict values/keys to rename a column or list of columns
df_08.rename({"Sales Area":"Cert Region"},axis=1, inplace=True)

In [28]:
# use lambda (anonymous function) to replace column names
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"),inplace=True)
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"),inplace=True)

In [29]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2404 non-null   object
 1   displ                 2404 non-null   float64
 2   cyl                   2205 non-null   object
 3   trans                 2205 non-null   object
 4   drive                 2311 non-null   object
 5   fuel                  2404 non-null   object
 6   cert_region           2404 non-null   object
 7   veh_class             2404 non-null   object
 8   air_pollution_score   2404 non-null   object
 9   city_mpg              2205 non-null   object
 10  hwy_mpg               2205 non-null   object
 11  cmb_mpg               2205 non-null   object
 12  greenhouse_gas_score  2205 non-null   object
 13  smartway              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [30]:
# check if 2018 matches 2008 

df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [31]:
# to csv again for next lesson

df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [2]:
import pandas as pd 
df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [5]:
df_08.shape, df_18.shape

((2404, 14), (1611, 14))

In [8]:
# Filtering df's to only be cert region California
df_08 = df_08.query("cert_region == 'CA'")
df_18 = df_18.query("cert_region == 'CA'")

In [9]:
df_08.shape, df_18.shape

((1084, 14), (798, 14))

In [10]:
# Confirming uniqueness

df_08["cert_region"].unique()

array(['CA'], dtype=object)

In [ ]:
# Dropping cert region since all are CA
df_08.drop(["cert_region"], axis=1, inplace=True)
df_18.drop(["cert_region"], axis=1, inplace=True)

In [ ]:
# Viewing missing values
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [14]:
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [15]:
# Drop rows with missing values 
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [17]:
df_18.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [ ]:
# Num of duplicated rows
df_08.duplicated().sum(), df_18.duplicated().sum()

(np.int64(23), np.int64(3))

In [20]:
# drop duplicate rows
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [21]:
df_08.duplicated().sum(), df_18.duplicated().sum()

(np.int64(0), np.int64(0))

In [22]:
# saving progress for the next section
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)

In [24]:
df_08.shape, df_18.shape

((986, 13), (794, 13))

In [12]:
import pandas as pd

fuel_08_df = pd.read_csv('data_08_v3.csv')
fuel_18_df = pd.read_csv('data_18_v3.csv')

In [ ]:
# Data Types
fuel_08_df.dtypes

model                    object
displ                   float64
cyl                      object
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [14]:
fuel_18_df.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [15]:
fuel_08_df["cyl"].unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)',
       '(16 cyl)', '(5 cyl)', '(2 cyl)'], dtype=object)

In [16]:
fuel_18_df.cyl.unique()

array([ 6.,  4.,  5., 12., 16.,  8.,  3.])

In [ ]:
# Casting to an integer
fuel_18_df["cyl"] = fuel_18_df["cyl"].astype('int32')

In [ ]:
# Extracting int from string
fuel_08_df["cyl"] = fuel_08_df["cyl"].str.extract('(\d+)').astype(int)

In [20]:
fuel_08_df["cyl"].value_counts()

cyl
6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: count, dtype: int64

In [21]:
fuel_18_df["cyl"].value_counts()

cyl
4     365
6     246
8     153
3      18
12      9
5       2
16      1
Name: count, dtype: int64

In [27]:
fuel_18_df["cyl"] = fuel_18_df["cyl"].astype("int32")

In [26]:
fuel_08_df["cyl"] = fuel_08_df["cyl"].astype("int32")

In [28]:
fuel_08_df["cyl"].value_counts()

cyl
6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: count, dtype: int64

In [29]:
fuel_08_df["air_pollution_score"] = fuel_08_df["air_pollution_score"].astype("float64")

ValueError: could not convert string to float: '6/4'

In [ ]:
# one string is 6/4 so casting doesnt work to cast it to a float
fuel_08_df[fuel_08_df["air_pollution_score"] == '6/4']

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [ ]:
# creating hybrid df to get all the fractional values in a separate df to clean
hybrid_08 = fuel_08_df[fuel_08_df['fuel'].str.contains('/')]
hybrid_18 = fuel_18_df[fuel_18_df['fuel'].str.contains('/')]

In [32]:
hybrid_08.shape, hybrid_18.shape

((1, 13), (38, 13))

In [36]:
# take each hybrid row and split them into two new rows
# one with values for the first fuel type
#  the other with values for the second fuel type (after the /)

df1 = hybrid_08.copy()
df2 = hybrid_08.copy()

In [38]:
# Cols to split by
split_columns =  ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# Use apply method with a lambda function to split values into tokens
# take first token for first df, second for second
# use apply method to apply the function
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0]) 
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [39]:
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [40]:
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [ ]:
# pd concat combines dataframes with same cols
new_rows = pd.concat([df1,df2])

In [42]:
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [ ]:
# drop the original hybrid rows
fuel_08_df.drop(hybrid_08.index, inplace=True)

In [ ]:
# add in our newly separated rows
fuel_08_df = pd.concat([fuel_08_df,new_rows],ignore_index=True)

In [45]:
# check that all the original hybrid rows with "/"s are gone
fuel_08_df[fuel_08_df['fuel'].str.contains("/")]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [46]:
fuel_08_df.shape

(987, 13)

## Repeating the process for fuel 18

In [47]:
df1 = hybrid_18.copy()
df2 = hybrid_18.copy()

In [48]:
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
52,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
78,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
79,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
92,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
189,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No
195,CHEVROLET Silverado 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
196,CHEVROLET Silverado 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
197,CHEVROLET Silverado 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
212,CHEVROLET Suburban 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
214,CHEVROLET Suburban 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
216,CHEVROLET Tahoe 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
218,CHEVROLET Tahoe 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
225,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,3,43/113,42/99,42/106,10,Yes
226,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,7,43/113,42/99,42/106,10,Elite
227,CHRYSLER 300,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
229,CHRYSLER 300,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
244,DODGE Charger,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
246,DODGE Charger,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
300,FORD Fusion Energi Plug-in Hybrid,2.0,4,CVT,2WD,Gasoline/Electricity,midsize car,7,43/102,41/91,42/97,10,Elite
326,GMC Sierra 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
327,GMC Sierra 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
328,GMC Sierra 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
345,GMC Yukon 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
347,GMC Yukon 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
351,GMC Yukon 1500 XL,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
354,GMC Yukon XL 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
442,JEEP Cherokee,2.4,4,Auto-9,2WD,Ethanol/Gas,small SUV,3,15/21,22/30,18/25,5,No
444,JEEP Cherokee,2.4,4,Auto-9,4WD,Ethanol/Gas,small SUV,3,14/21,21/28,17/23,5,No
462,KARMA Revero,2.0,4,Auto-1,2WD,Gasoline/Electricity,small car,1,20/59,21/61,20/60,10,No
571,MERCEDES-BENZ CLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small car,5,17/24,24/32,20/27,6,No
578,MERCEDES-BENZ GLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small SUV,5,17/23,23/31,19/26,5,No
584,MERCEDES-BENZ GLE350 4Matic,3.5,6,Auto-7,4WD,Ethanol/Gas,standard SUV,3,13/18,17/22,14/19,3,No
616,MINI Cooper SE Countryman All4,1.5,3,SemiAuto-6,4WD,Gasoline/Electricity,midsize car,3,28/63,27/66,27/65,9,Yes
742,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,standard SUV,5,9/13,13/17,10/14,1,No
747,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,pickup,5,9/13,12/17,10/15,2,No
777,VOLVO S90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,midsize car,7,26/70,33/72,29/71,10,Elite
789,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small SUV,7,26/60,28/58,26/59,10,Elite
793,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,standard SUV,7,26/63,30/61,27/62,10,Elite

In [49]:
# split cols 
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

In [50]:
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [51]:
new_rows = pd.concat([df1,df2])

In [52]:
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
52,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline,small car,3,28,34,30,10,Yes
78,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline,small car,7,27,31,29,10,Elite
79,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline,small car,7,27,31,28,10,Elite
92,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline,large car,3,25,29,27,9,Yes
189,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol,large car,5,14,20,16,4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Gas,standard SUV,5,13,17,14,1,No
747,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Gas,pickup,5,13,17,15,2,No
777,VOLVO S90,2.0,4,SemiAuto-8,4WD,Electricity,midsize car,7,70,72,71,10,Elite
789,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Electricity,small SUV,7,60,58,59,10,Elite
793,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Electricity,standard SUV,7,63,61,62,10,Elite

In [53]:
fuel_18_df.drop(hybrid_18.index,inplace=True)

In [54]:
fuel_18_df = pd.concat([fuel_18_df,new_rows], ignore_index=True)

In [55]:
fuel_18_df[fuel_18_df["fuel"].str.contains("/")]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [56]:
fuel_18_df.shape

(832, 13)

### Now that it's cleaned, we can cast to float

In [57]:
fuel_08_df.air_pollution_score = fuel_08_df["air_pollution_score"].astype("float64")

In [58]:
fuel_18_df.air_pollution_score = fuel_18_df["air_pollution_score"].astype("float64")

In [59]:
mpg_cols = ["city_mpg", "hwy_mpg", "cmb_mpg"]
for c in mpg_cols:
    fuel_08_df[c] = fuel_08_df[c].astype("float64")
    fuel_18_df[c] = fuel_18_df[c].astype("float64")

In [60]:
fuel_08_df["greenhouse_gas_score"] = fuel_08_df["greenhouse_gas_score"].astype("int32")

In [62]:
fuel_08_df.dtypes

model                    object
displ                   float64
cyl                       int32
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int32
smartway                 object
dtype: object

In [63]:
fuel_08_df.to_csv('clean_08.csv', index=False)
fuel_18_df.to_csv('clean_18.csv', index=False)

## Data Type Optimization

In [64]:
df = pd.read_csv("clean_08.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 987 non-null    object
 1   displ                 987 non-null    float64
 2   cyl                   987 non-null    int64
 3   trans                 987 non-null    object
 4   drive                 987 non-null    object
 5   fuel                  987 non-null    object
 6   veh_class             987 non-null    object
 7   air_pollution_score   987 non-null    float64
 8   city_mpg              987 non-null    float64
 9   hwy_mpg               987 non-null    float64
 10  cmb_mpg               987 non-null    float64
 11  greenhouse_gas_score  987 non-null    int64
 12  smartway              987 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 100.4+ KB

In [65]:
df.city_mpg.value_counts()

city_mpg
17.0    109
16.0     96
20.0     96
15.0     90
19.0     87
18.0     81
13.0     73
14.0     71
21.0     64
12.0     57
22.0     44
23.0     21
24.0     20
11.0     17
10.0     14
26.0      8
27.0      8
25.0      8
9.0       6
29.0      5
8.0       3
34.0      3
28.0      2
40.0      1
35.0      1
33.0      1
48.0      1
Name: count, dtype: int64

In [66]:
df.hwy_mpg.value_counts()

hwy_mpg
24.0    111
26.0     82
25.0     77
28.0     70
19.0     70
20.0     69
27.0     60
22.0     59
18.0     58
29.0     49
23.0     48
17.0     41
31.0     41
30.0     33
21.0     26
16.0     25
33.0     19
32.0     16
15.0     10
14.0      5
35.0      5
34.0      4
36.0      3
13.0      3
45.0      2
37.0      1
Name: count, dtype: int64

In [67]:
df.cmb_mpg.value_counts()

cmb_mpg
22.0    101
20.0     94
19.0     89
21.0     84
15.0     83
18.0     77
24.0     67
14.0     64
17.0     61
23.0     59
16.0     53
25.0     36
26.0     24
27.0     17
13.0     16
12.0     15
28.0     13
29.0     12
11.0      7
32.0      4
10.0      3
31.0      3
34.0      2
42.0      1
30.0      1
46.0      1
Name: count, dtype: int64

### Change all the above to ints instead of int64

In [68]:
convert_cols = ["city_mpg","hwy_mpg","cmb_mpg"]

for c in convert_cols:
    df[c] = df[c].astype("int")

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 987 non-null    object
 1   displ                 987 non-null    float64
 2   cyl                   987 non-null    int64
 3   trans                 987 non-null    object
 4   drive                 987 non-null    object
 5   fuel                  987 non-null    object
 6   veh_class             987 non-null    object
 7   air_pollution_score   987 non-null    float64
 8   city_mpg              987 non-null    int64
 9   hwy_mpg               987 non-null    int64
 10  cmb_mpg               987 non-null    int64
 11  greenhouse_gas_score  987 non-null    int64
 12  smartway              987 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 100.4+ KB

In [70]:
# change to int 8
convert_cols = ["city_mpg","hwy_mpg","cmb_mpg"]

for c in convert_cols:
    df[c] = df[c].astype("int8")

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 987 non-null    object
 1   displ                 987 non-null    float64
 2   cyl                   987 non-null    int64
 3   trans                 987 non-null    object
 4   drive                 987 non-null    object
 5   fuel                  987 non-null    object
 6   veh_class             987 non-null    object
 7   air_pollution_score   987 non-null    float64
 8   city_mpg              987 non-null    int8
 9   hwy_mpg               987 non-null    int8
 10  cmb_mpg               987 non-null    int8
 11  greenhouse_gas_score  987 non-null    int64
 12  smartway              987 non-null    object
dtypes: float64(2), int64(2), int8(3), object(6)
memory usage: 80.1+ KB

#### Notice how the above change from 100kb of memory to 80KB

In [72]:
df["trans"].value_counts()

trans
Auto-L4    176
Auto-S6    162
Auto-L5    157
Man-6      142
Man-5      123
Auto-S5     71
Auto-L6     56
Auto-AV     45
Auto-S4     21
Auto-L7     15
Auto-S7     11
S8           4
Auto-6       4
Name: count, dtype: int64

In [73]:
df["fuel"].value_counts(), df["veh_class"].value_counts(), df["smartway"].value_counts(), df["model"].value_counts()

(fuel
 Gasoline    984
 CNG           1
 ethanol       1
 gas           1
 Name: count, dtype: int64,
 veh_class
 small car        333
 SUV              280
 midsize car      138
 pickup            83
 station wagon     60
 large car         55
 van               21
 minivan           17
 Name: count, dtype: int64,
 smartway
 no     607
 yes    380
 Name: count, dtype: int64,
 model
 NISSAN Altima     12
 HONDA Accord      11
 FORD Ranger       10
 DODGE RAM 1500     9
 SUBARU Legacy      8
                   ..
 ACURA RL           1
 VOLVO V70          1
 VOLVO XC 70        1
 ACURA RDX          1
 ACURA MDX          1
 Name: count, Length: 377, dtype: int64)

In [74]:
# All cols above have 2-13 values, qualifies for categories rather than objects

convert_cols = ["trans", "drive", "fuel", "veh_class", "smartway"]

for c in convert_cols:
    df[c] = df[c].astype("category")

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 987 non-null    object
 1   displ                 987 non-null    float64
 2   cyl                   987 non-null    int64
 3   trans                 987 non-null    category
 4   drive                 987 non-null    category
 5   fuel                  987 non-null    category
 6   veh_class             987 non-null    category
 7   air_pollution_score   987 non-null    float64
 8   city_mpg              987 non-null    int8
 9   hwy_mpg               987 non-null    int8
 10  cmb_mpg               987 non-null    int8
 11  greenhouse_gas_score  987 non-null    int64
 12  smartway              987 non-null    category
dtypes: category(5), float64(2), int64(2), int8(3), object(1)
memory usage: 47.8+ KB

#### Down to 47.8KB of Memory

## Concatenating

In [76]:
import pandas as pd
import numpy as np

# load 2008 and 2018 datasets
df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

In [77]:
df_08['year'] = '2008'
df_18['year'] = '2018'

In [78]:
df = pd.concat([df_08, df_18])

In [80]:
df.tail()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
827,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Gas,standard SUV,5.0,13.0,17.0,14.0,1,No,2018
828,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Gas,pickup,5.0,13.0,17.0,15.0,2,No,2018
829,VOLVO S90,2.0,4,SemiAuto-8,4WD,Electricity,midsize car,7.0,70.0,72.0,71.0,10,Elite,2018
830,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Electricity,small SUV,7.0,60.0,58.0,59.0,10,Elite,2018
831,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Electricity,standard SUV,7.0,63.0,61.0,62.0,10,Elite,2018

In [81]:
df.to_csv("clean_08_18_concatenated.csv", index=False)

## Merging DFs

In [82]:
import pandas as pd

df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

In [ ]:
# renaming 08 cols to distinguish
df_08.rename(columns=lambda x: x[:10] + "_2008",inplace=True)

In [ ]:
# inner joining the dfs
df_combined = pd.merge(df_08,df_18,how="inner", left_on="model_2008",right_on="model")

In [87]:
df_combined.head(5)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,...,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No
2,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,21.0,29.0,...,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No
3,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,21.0,29.0,...,AMS-7,2WD,Gasoline,small car,7.0,26.0,35.0,29.0,6,No
4,AUDI A3,2.0,4,Auto-S6,2WD,Gasoline,station wagon,7.0,22.0,29.0,...,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No

In [88]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model_2008            922 non-null    object
 1   displ_2008            922 non-null    float64
 2   cyl_2008              922 non-null    int64
 3   trans_2008            922 non-null    object
 4   drive_2008            922 non-null    object
 5   fuel_2008             922 non-null    object
 6   veh_class_2008        922 non-null    object
 7   air_pollut_2008       922 non-null    float64
 8   city_mpg_2008         922 non-null    float64
 9   hwy_mpg_2008          922 non-null    float64
 10  cmb_mpg_2008          922 non-null    float64
 11  greenhouse_2008       922 non-null    int64
 12  smartway_2008         922 non-null    object
 13  model                 922 non-null    object
 14  displ                 922 non-null    float64
 15  cyl                   922 non-null    int64
 16  trans                 922 non-null    object
 17  drive                 922 non-null    object
 18  fuel                  922 non-null    object
 19  veh_class             922 non-null    object
 20  air_pollution_score   922 non-null    float64
 21  city_mpg              922 non-null    float64
 22  hwy_mpg               922 non-null    float64
 23  cmb_mpg               922 non-null    float64
 24  greenhouse_gas_score  922 non-null    int64
 25  smartway              922 non-null    object
dtypes: float64(10), int64(4), object(12)
memory usage: 187.4+ KB

In [89]:
df_combined.to_csv('combined_dataset.csv', index=False)

In [94]:
df = pd.read_csv('combined_dataset.csv')

In [ ]:
# Finding the average mpg for both years by model
model_mpg = df.groupby("model")[["cmb_mpg_2008", "cmb_mpg"]].mean().reset_index()

In [96]:
model_mpg.head()

       model  cmb_mpg_2008    cmb_mpg
0  ACURA RDX     19.000000  22.500000
1    AUDI A3     23.333333  28.000000
2    AUDI A4     21.000000  27.000000
3    AUDI A6     19.666667  25.666667
4  AUDI A8 L     16.500000  22.000000

In [ ]:
# Creating new difference column / mpg change
model_mpg["mpg_change"] = model_mpg["cmb_mpg"] - model_mpg["cmb_mpg_2008"]

In [103]:
model_mpg.head()

       model  cmb_mpg_2008    cmb_mpg  mpg_change
0  ACURA RDX     19.000000  22.500000    3.500000
1    AUDI A3     23.333333  28.000000    4.666667
2    AUDI A4     21.000000  27.000000    6.000000
3    AUDI A6     19.666667  25.666667    6.000000
4  AUDI A8 L     16.500000  22.000000    5.500000

In [ ]:
# Finding the max change
max_change = model_mpg["mpg_change"].max()

In [ ]:
# Querying the max change value
model_mpg[model_mpg["mpg_change"] == max_change]

          model  cmb_mpg_2008  cmb_mpg  mpg_change
71  VOLVO XC 90     15.666667     32.2   16.533333

## Explode and To List 
### Separates list values in a column to new rows or columns
#### explode for rows, to list for columns

In [113]:
import numpy as np
import pandas as pd

In [114]:
array = np.random.rand(25, 5).round(decimals=2)
array

array([[0.95, 0.32, 0.06, 0.17, 0.4 ],
       [0.05, 0.58, 0.94, 0.85, 0.94],
       [0.73, 0.95, 0.11, 0.3 , 0.04],
       [0.51, 0.  , 0.41, 0.31, 0.57],
       [0.24, 0.26, 0.31, 0.88, 0.51],
       [0.75, 0.6 , 0.46, 0.6 , 0.47],
       [0.14, 0.61, 0.9 , 0.28, 0.62],
       [0.98, 0.37, 0.95, 0.35, 0.92],
       [0.75, 0.49, 0.57, 0.03, 0.71],
       [0.45, 0.34, 0.78, 0.67, 0.04],
       [0.5 , 0.93, 0.89, 0.46, 0.64],
       [0.72, 0.68, 0.68, 0.59, 0.12],
       [0.69, 0.08, 0.63, 0.36, 0.55],
       [0.44, 0.09, 0.85, 0.52, 0.5 ],
       [0.89, 0.39, 0.97, 0.56, 0.89],
       [0.14, 0.19, 0.13, 0.31, 0.84],
       [0.48, 0.47, 0.12, 0.69, 0.35],
       [0.31, 0.79, 0.07, 0.68, 0.05],
       [0.27, 0.61, 0.96, 0.44, 0.76],
       [0.47, 0.75, 0.02, 0.59, 0.98],
       [0.8 , 0.7 , 0.12, 0.39, 0.15],
       [0.3 , 0.91, 0.61, 0.59, 0.93],
       [0.55, 0.04, 0.59, 0.09, 0.51],
       [0.3 , 0.03, 0.21, 0.9 , 0.36],
       [0.25, 0.86, 0.68, 0.9 , 0.98]])

In [ ]:
# Explode list of vals to rows 
# exploding the array of lists to different rows 
# tolist() turns all lists into values in a different row
# pd.DataFrame makes values into a df 
df = pd.DataFrame({"list_values": array.tolist()})
df.head()

                      list_values
0   [0.95, 0.32, 0.06, 0.17, 0.4]
1  [0.05, 0.58, 0.94, 0.85, 0.94]
2   [0.73, 0.95, 0.11, 0.3, 0.04]
3   [0.51, 0.0, 0.41, 0.31, 0.57]
4  [0.24, 0.26, 0.31, 0.88, 0.51]

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   list_values  25 non-null     object
dtypes: object(1)
memory usage: 332.0+ bytes

In [117]:
# each value is a list
type(df.iloc[0][0])

C:\Users\jseidl\AppData\Local\Temp\ipykernel_33712\1384528525.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(df.iloc[0][0])

list

In [118]:
# separate list into row with replicating index values
df.explode(column="list_values")

   list_values
0         0.95
0         0.32
0         0.06
0         0.17
0          0.4
..         ...
24        0.25
24        0.86
24        0.68
24         0.9
24        0.98

[125 rows x 1 columns]

In [119]:
# separate list into column by column
pd.DataFrame(df.list_values.values.tolist()).head()

      0     1     2     3     4
0  0.95  0.32  0.06  0.17  0.40
1  0.05  0.58  0.94  0.85  0.94
2  0.73  0.95  0.11  0.30  0.04
3  0.51  0.00  0.41  0.31  0.57
4  0.24  0.26  0.31  0.88  0.51

In [120]:
# now each list is a actually a list of values for each row
df_str = pd.DataFrame({"list_values": [str(a) for a in array.tolist()]})
df_str.head()

                      list_values
0   [0.95, 0.32, 0.06, 0.17, 0.4]
1  [0.05, 0.58, 0.94, 0.85, 0.94]
2   [0.73, 0.95, 0.11, 0.3, 0.04]
3   [0.51, 0.0, 0.41, 0.31, 0.57]
4  [0.24, 0.26, 0.31, 0.88, 0.51]

In [121]:
# each value is a str
type(df_str.iloc[0][0])

C:\Users\jseidl\AppData\Local\Temp\ipykernel_33712\2170273192.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(df_str.iloc[0][0])

str

In [122]:
# This does not work as expected
pd.DataFrame(df_str.list_values.values.tolist()).head()

                                0
0   [0.95, 0.32, 0.06, 0.17, 0.4]
1  [0.05, 0.58, 0.94, 0.85, 0.94]
2   [0.73, 0.95, 0.11, 0.3, 0.04]
3   [0.51, 0.0, 0.41, 0.31, 0.57]
4  [0.24, 0.26, 0.31, 0.88, 0.51]

In [123]:
# One option is to evaluate each string as a list, then proceed as usual
# 'eval' parses and evaluates the string of a list as a python expression
# turning it back into a list
pd.DataFrame(df_str.list_values.apply(lambda u: eval(u)).values.tolist()).head()

      0     1     2     3     4
0  0.95  0.32  0.06  0.17  0.40
1  0.05  0.58  0.94  0.85  0.94
2  0.73  0.95  0.11  0.30  0.04
3  0.51  0.00  0.41  0.31  0.57
4  0.24  0.26  0.31  0.88  0.51