In [1]:
import pandas as pd

In [15]:
df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [16]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [17]:
df_08.drop(columns=["Stnd", "Underhood ID", "FE Calc Appr", "Unadj Cmb MPG"],inplace=True)

In [18]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Veh Class             2404 non-null   object
 8   Air Pollution Score   2404 non-null   object
 9   City MPG              2205 non-null   object
 10  Hwy MPG               2205 non-null   object
 11  Cmb MPG               2205 non-null   object
 12  Greenhouse Gas Score  2205 non-null   object
 13  SmartWay              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [19]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [20]:
df_18.drop(["Stnd", "Stnd Description", "Underhood ID", "Comb CO2"], axis=1, inplace=True)
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Veh Class             1611 non-null   object
 8   Air Pollution Score   1611 non-null   int64
 9   City MPG              1611 non-null   object
 10  Hwy MPG               1611 non-null   object
 11  Cmb MPG               1611 non-null   object
 12  Greenhouse Gas Score  1611 non-null   int64
 13  SmartWay              1611 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 176.3+ KB

In [21]:
df_08.to_csv('data_08_v1.csv', index=False)
df_18.to_csv('data_18_v1.csv', index=False)

In [22]:
df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [ ]:
# Use dict values/keys to rename a column or list of columns
df_08.rename({"Sales Area":"Cert Region"},axis=1, inplace=True)

In [28]:
# use lambda (anonymous function) to replace column names
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"),inplace=True)
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"),inplace=True)

In [29]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2404 non-null   object
 1   displ                 2404 non-null   float64
 2   cyl                   2205 non-null   object
 3   trans                 2205 non-null   object
 4   drive                 2311 non-null   object
 5   fuel                  2404 non-null   object
 6   cert_region           2404 non-null   object
 7   veh_class             2404 non-null   object
 8   air_pollution_score   2404 non-null   object
 9   city_mpg              2205 non-null   object
 10  hwy_mpg               2205 non-null   object
 11  cmb_mpg               2205 non-null   object
 12  greenhouse_gas_score  2205 non-null   object
 13  smartway              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [30]:
# check if 2018 matches 2008 

df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [31]:
# to csv again for next lesson

df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [2]:
import pandas as pd 
df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [5]:
df_08.shape, df_18.shape

((2404, 14), (1611, 14))

In [8]:
# Filtering df's to only be cert region California
df_08 = df_08.query("cert_region == 'CA'")
df_18 = df_18.query("cert_region == 'CA'")

In [9]:
df_08.shape, df_18.shape

((1084, 14), (798, 14))

In [10]:
# Confirming uniqueness

df_08["cert_region"].unique()

array(['CA'], dtype=object)

In [ ]:
# Dropping cert region since all are CA
df_08.drop(["cert_region"], axis=1, inplace=True)
df_18.drop(["cert_region"], axis=1, inplace=True)

In [ ]:
# Viewing missing values
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [14]:
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [15]:
# Drop rows with missing values 
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [17]:
df_18.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [ ]:
# Num of duplicated rows
df_08.duplicated().sum(), df_18.duplicated().sum()

(np.int64(23), np.int64(3))

In [20]:
# drop duplicate rows
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [21]:
df_08.duplicated().sum(), df_18.duplicated().sum()

(np.int64(0), np.int64(0))

In [22]:
# saving progress for the next section
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)

In [24]:
df_08.shape, df_18.shape

((986, 13), (794, 13))