In [1]:
import numpy as np

In [ ]:
#  create random array of 100million values between 1 and 0 
a = np.random.random(int(1e8))

In [ ]:
# Compute mean of array with standard python
# took 5 seconds
import time
start=time.time()
sum(a) / len(a)
print(time.time() - start, 'seconds')

5.636563301086426 seconds

In [ ]:
# compute mean with numpy
# takes under .1 seconds
start = time.time()
np.mean(a)
print(time.time() - start, 'seconds')

0.06743073463439941 seconds

In [8]:
import pandas as pd
import numpy as np 
df = pd.read_csv("census_income_data.csv")

In [9]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [10]:
# groupby "workclass" to see the different mean values for all numeric columns
df.groupby("workclass").mean(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,42.590625,185221.243750,10.973958,833.232292,112.268750,41.379167
Local-gov,41.751075,188639.712852,11.042045,880.202580,109.854276,40.982800
Never-worked,20.571429,225989.571429,7.428571,0.000000,0.000000,28.428571
Private,36.797585,192764.114734,9.879714,889.217792,80.008724,40.267096
Self-emp-inc,46.017025,175981.344086,11.137097,4875.693548,155.138889,48.818100
Self-emp-not-inc,44.969697,175608.641480,10.226289,1886.061787,116.631641,44.421881
State-gov,39.436055,184136.613251,11.375963,701.699538,83.256549,39.031587
Without-pay,47.785714,174267.500000,9.071429,487.857143,0.000000,32.714286

In [11]:
# groupby "workclass" and "race" to see the different mean values for all numeric columns
df.groupby(["workclass", "race"]).mean(numeric_only=True)

                                           age         fnlwgt  education-num  \
workclass        race
Federal-gov      Amer-Indian-Eskimo  42.842105   90124.105263      10.368421
                 Asian-Pac-Islander  40.931818  118511.750000      12.045455
                 Black               41.633136  218892.331361      10.236686
                 Other               33.000000  129977.285714      10.571429
                 White               43.002774  184442.266297      11.101248
Local-gov        Amer-Indian-Eskimo  38.694444   94324.750000      10.250000
                 Asian-Pac-Islander  39.846154  181518.282051      11.743590
                 Black               41.173611  225112.763889      10.611111
                 Other               36.000000  217902.900000       9.700000
                 White               41.988372  184497.970930      11.122674
Never-worked     Black               25.000000  319483.500000       9.500000
                 White               18.800000  188592.000000       6.600000
Private          Amer-Indian-Eskimo  34.305263  131002.857895       9.010526
                 Asian-Pac-Islander  36.716690  161942.253857      10.712482
                 Black               36.712316  229010.500460       9.255055
                 Other               33.441315  200253.342723       8.450704
                 White               36.871367  190354.471604       9.943362
Self-emp-inc     Amer-Indian-Eskimo  44.000000  171968.500000       9.500000
                 Asian-Pac-Islander  43.391304  138773.391304      12.108696
                 Black               42.478261  235677.217391      10.826087
                 Other               40.000000  117540.000000      10.200000
                 White               46.244231  176595.568269      11.108654
Self-emp-not-inc Amer-Indian-Eskimo  42.125000  137440.750000       9.500000
                 Asian-Pac-Islander  41.643836  179037.095890      11.041096
                 Black               43.000000  239957.956989       9.892473
                 Other               39.333333  168458.777778      12.888889
                 White               45.202391  173365.095218      10.211358
State-gov        Amer-Indian-Eskimo  45.533333  111839.266667      10.066667
                 Asian-Pac-Islander  38.034483  154849.379310      12.534483
                 Black               39.125786  227722.037736      10.672956
                 Other               28.000000  202432.750000      10.500000
                 White               39.516008  180162.839925      11.439736
Without-pay      Asian-Pac-Islander  67.000000  137192.000000       9.000000
                 Black               21.000000  232719.000000       9.000000
                 White               48.416667  172486.166667       9.083333

                                     capital-gain  capital-loss  \
workclass        race
Federal-gov      Amer-Indian-Eskimo      0.000000      0.000000
                 Asian-Pac-Islander   2813.454545    310.750000
                 Black                 547.396450     81.230769
                 Other                   0.000000      0.000000
                 White                 809.432732    111.479889
Local-gov        Amer-Indian-Eskimo    304.222222      0.000000
                 Asian-Pac-Islander    374.256410     85.410256
                 Black                 904.586806     73.201389
                 Other                 115.100000    188.700000
                 White                 904.095349    118.386628
Never-worked     Black                   0.000000      0.000000
                 White                   0.000000      0.000000
Private          Amer-Indian-Eskimo    785.036842     37.721053
                 Asian-Pac-Islander   1315.124825     79.583450
                 Black                 478.601103     53.183824
                 Other                 135.568075     51.089202
                 White                 928.908163     83.764069
Self-emp-inc     Amer-Indian-Eskimo   8954.500000      0.000000
                 Asian-Pac-Islander   3336.152174    132.173913
                 Black                5904.434783      0.000000
                 Other               19999.800000    435.800000
                 White                4840.481731    158.534615
Self-emp-not-inc Amer-Indian-Eskimo    451.041667    144.250000
                 Asian-Pac-Islander   2187.178082    172.232877
                 Black                2371.677419    124.107527
                 Other               11921.888889      0.000000
                 White                1833.531597    114.766866
State-gov        Amer-Indian-Eskimo      0.000000      0.000000
                 Asian-Pac-Islander    664.913793     25.603448
                 Black                 567.547170     53.660377
                 Other                1922.000000      0.000000
                 White                 729.108286     92.325800
Without-pay      Asian-Pac-Islander      0.000000      0.000000
                 Black                   0.000000      0.000000
                 White                 569.166667      0.000000

                                     hours-per-week
workclass        race
Federal-gov      Amer-Indian-Eskimo       40.315789
                 Asian-Pac-Islander       41.909091
                 Black                    40.769231
                 Other                    42.142857
                 White                    41.510402
Local-gov        Amer-Indian-Eskimo       39.444444
                 Asian-Pac-Islander       39.256410
                 Black                    39.340278
                 Other                    41.700000
                 White                    41.325000
Never-worked     Black                    40.000000
                 White                    23.800000
Private          Amer-Indian-Eskimo       40.036842
                 Asian-Pac-Islander       39.936886
                 Black                    38.359375
                 Other                    39.103286
                 White                    40.508194
Self-emp-inc     Amer-Indian-Eskimo       35.000000
                 Asian-Pac-Islander       50.086957
                 Black                    53.391304
                 Other                    69.400000
                 White                    48.588462
Self-emp-not-inc Amer-Indian-Eskimo       44.375000
                 Asian-Pac-Islander       47.849315
                 Black                    40.709677
                 Other                    48.333333
                 White                    44.447908
State-gov        Amer-Indian-Eskimo       42.266667
                 Asian-Pac-Islander       35.413793
                 Black                    38.169811
                 Other                    34.500000
                 White                    39.329567
Without-pay      Asian-Pac-Islander       12.000000
                 Black                    40.000000
                 White                    33.833333

In [13]:
# set as_index=False to keep "workclass" and "race" as non index values
# select just "capital-gain" to view only that column's mean
df.groupby(["workclass", "race"],as_index=False)["capital-gain"].mean()

            workclass                 race  capital-gain
0         Federal-gov   Amer-Indian-Eskimo      0.000000
1         Federal-gov   Asian-Pac-Islander   2813.454545
2         Federal-gov                Black    547.396450
3         Federal-gov                Other      0.000000
4         Federal-gov                White    809.432732
5           Local-gov   Amer-Indian-Eskimo    304.222222
6           Local-gov   Asian-Pac-Islander    374.256410
7           Local-gov                Black    904.586806
8           Local-gov                Other    115.100000
9           Local-gov                White    904.095349
10       Never-worked                Black      0.000000
11       Never-worked                White      0.000000
12            Private   Amer-Indian-Eskimo    785.036842
13            Private   Asian-Pac-Islander   1315.124825
14            Private                Black    478.601103
15            Private                Other    135.568075
16            Private                White    928.908163
17       Self-emp-inc   Amer-Indian-Eskimo   8954.500000
18       Self-emp-inc   Asian-Pac-Islander   3336.152174
19       Self-emp-inc                Black   5904.434783
20       Self-emp-inc                Other  19999.800000
21       Self-emp-inc                White   4840.481731
22   Self-emp-not-inc   Amer-Indian-Eskimo    451.041667
23   Self-emp-not-inc   Asian-Pac-Islander   2187.178082
24   Self-emp-not-inc                Black   2371.677419
25   Self-emp-not-inc                Other  11921.888889
26   Self-emp-not-inc                White   1833.531597
27          State-gov   Amer-Indian-Eskimo      0.000000
28          State-gov   Asian-Pac-Islander    664.913793
29          State-gov                Black    567.547170
30          State-gov                Other   1922.000000
31          State-gov                White    729.108286
32        Without-pay   Asian-Pac-Islander      0.000000
33        Without-pay                Black      0.000000
34        Without-pay                White    569.166667

In [17]:
df_census = pd.read_csv("census_income_data.csv")

In [18]:
df_census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# sum values 
df_census[["capital-gain","capital-loss"]].sum()

capital-gain    35089324
capital-loss     2842700
dtype: int64

In [21]:
df_census["workclass"].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [22]:
df_census.groupby(by="workclass").sum(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,40887,177812394,10535,799903,107778,39724
Local-gov,87385,394822919,23111,1842264,229925,85777
Never-worked,144,1581927,52,0,0,199
Private,835158,4374974348,224230,20181687,1815878,913902
Self-emp-inc,51355,196395180,12429,5441274,173135,54481
Self-emp-not-inc,114268,446221558,25985,4792483,296361,112876
State-gov,51188,239009324,14766,910806,108067,50663
Without-pay,669,2439745,127,6830,0,458

In [23]:
df_census["occupation"].value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [24]:
df_census.groupby(by="occupation").sum(numeric_only=True).sort_values(by="hours-per-week", ascending=False)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
occupation,,,,,,
Exec-managerial,171460,749827375,46552,9200435,564517,182920
Prof-specialty,167743,767127979,53427,11288536,563617,175481
Craft-repair,159990,787551526,37345,2662353,362619,173405
Sales,136342,696733506,37594,4817377,358797,148851
Adm-clerical,139356,724003604,38128,1869750,229195,141595
Other-service,115159,621464850,28929,630339,126036,114342
Machine-op-inspct,75506,390471837,16992,658036,123536,81593
Transport-moving,64196,304015069,14001,783047,130125,71316
Handlers-cleaners,44067,280015679,11659,352875,62521,51988
Farming-fishing,40964,169169035,8557,586188,62697,46708
Tech-support,34357,178267224,10201,625057,91562,36593
Protective-serv,25281,131123930,6610,459556,50839,27823
Priv-house-serv,6217,29965021,1097,41698,3196,4900
Armed-Forces,272,1938833,91,0,1887,366

# Measures of Center

In [25]:
# mean 
df_census[["capital-gain", "capital-loss"]].mean()

capital-gain    1077.648844
capital-loss      87.303830
dtype: float64

In [ ]:
# Using mean / median on a group 
# mean of numeric cols grouped by class
df_census.groupby(by="workclass").mean(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,42.590625,185221.243750,10.973958,833.232292,112.268750,41.379167
Local-gov,41.751075,188639.712852,11.042045,880.202580,109.854276,40.982800
Never-worked,20.571429,225989.571429,7.428571,0.000000,0.000000,28.428571
Private,36.797585,192764.114734,9.879714,889.217792,80.008724,40.267096
Self-emp-inc,46.017025,175981.344086,11.137097,4875.693548,155.138889,48.818100
Self-emp-not-inc,44.969697,175608.641480,10.226289,1886.061787,116.631641,44.421881
State-gov,39.436055,184136.613251,11.375963,701.699538,83.256549,39.031587
Without-pay,47.785714,174267.500000,9.071429,487.857143,0.000000,32.714286

In [29]:
# median 
df_census.groupby(by="workclass").median(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,43.0,175771.0,10.0,0.0,0.0,40.0
Local-gov,41.0,179580.0,11.0,0.0,0.0,40.0
Never-worked,18.0,188535.0,7.0,0.0,0.0,35.0
Private,35.0,181091.0,10.0,0.0,0.0,40.0
Self-emp-inc,45.0,165667.0,10.0,0.0,0.0,50.0
Self-emp-not-inc,44.0,168109.0,10.0,0.0,0.0,40.0
State-gov,39.0,169402.5,10.0,0.0,0.0,40.0
Without-pay,57.0,171531.5,9.0,0.0,0.0,27.5

In [30]:
# mean for occupation
df_census.groupby(by="occupation").mean(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
occupation,,,,,,
Adm-clerical,36.964456,192043.396286,10.113528,495.954907,60.794430,37.558355
Armed-Forces,30.222222,215425.888889,10.111111,0.000000,209.666667,40.666667
Craft-repair,39.031471,192132.599658,9.110759,649.512808,88.465235,42.304221
Exec-managerial,42.169208,184414.012543,11.449090,2262.772996,138.838416,44.987703
Farming-fishing,41.211268,170190.176056,8.608652,589.726358,63.075453,46.989940
Handlers-cleaners,32.165693,204391.006569,8.510219,257.572993,45.635766,37.947445
Machine-op-inspct,37.715285,195040.877622,8.487512,328.689311,61.706294,40.755744
Other-service,34.949621,188608.452200,8.779666,191.301669,38.250683,34.701669
Priv-house-serv,41.724832,201107.523490,7.362416,279.852349,21.449664,32.885906
Prof-specialty,40.517633,185296.613285,12.905072,2726.699517,136.139372,42.386715
Protective-serv,38.953775,202039.953775,10.184900,708.098613,78.334361,42.870570
Sales,37.353973,190885.892055,10.299726,1319.829315,98.300548,40.781096
Tech-support,37.022629,192098.301724,10.992457,673.552802,98.665948,39.432112
Transport-moving,40.197871,190366.355041,8.767063,490.323732,81.480902,44.656230

In [31]:
# median
df_census.groupby(by="occupation").median(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
occupation,,,,,,
Adm-clerical,35.0,180340.5,10.0,0.0,0.0,40.0
Armed-Forces,29.0,191073.0,9.0,0.0,0.0,40.0
Craft-repair,38.0,180239.0,9.0,0.0,0.0,40.0
Exec-managerial,41.0,174215.0,12.0,0.0,0.0,40.0
Farming-fishing,39.0,157353.5,9.0,0.0,0.0,40.0
Handlers-cleaners,29.0,189249.0,9.0,0.0,0.0,40.0
Machine-op-inspct,36.0,183136.5,9.0,0.0,0.0,40.0
Other-service,32.0,176452.0,9.0,0.0,0.0,40.0
Priv-house-serv,40.0,193530.0,9.0,0.0,0.0,35.0
Prof-specialty,40.0,176052.5,13.0,0.0,0.0,40.0
Protective-serv,36.0,190350.0,10.0,0.0,0.0,40.0
Sales,35.0,180992.5,10.0,0.0,0.0,40.0
Tech-support,36.0,176761.0,11.0,0.0,0.0,40.0
Transport-moving,39.0,180401.0,9.0,0.0,0.0,40.0

# Measures of Spread

In [32]:
import pandas as pd

In [33]:
df_census = pd.read_csv('census_income_data.csv')

In [34]:
# quantiles 
# set your own quantiles

df_census[["capital-gain", "capital-loss"]].quantile(q=[0.25, 0.5, 0.75, 0.9, 0.95])

      capital-gain  capital-loss
0.25           0.0           0.0
0.50           0.0           0.0
0.75           0.0           0.0
0.90           0.0           0.0
0.95        5013.0           0.0

In [35]:
df_census["workclass"].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [36]:
# most of the data is 0, we will only look at the 50%, 90%, and 95% quantiles
# focus only on "age", "capital-gain", "capital-loss", and "hours-per-week"

df_census.groupby(by="workclass")[["age", "capital-gain", "capital-loss", "hours-per-week"]].quantile(q=[0.5, 0.9, 0.95])

                        age  capital-gain  capital-loss  hours-per-week
workclass
Federal-gov      0.50  43.0           0.0          0.00            40.0
                 0.90  58.0           0.0          0.00            50.0
                 0.95  61.0        7298.0       1579.55            60.0
Local-gov        0.50  41.0           0.0          0.00            40.0
                 0.90  58.0           0.0          0.00            52.0
                 0.95  63.0        5178.0       1583.40            60.0
Never-worked     0.50  18.0           0.0          0.00            35.0
                 0.90  25.8           0.0          0.00            40.0
                 0.95  27.9           0.0          0.00            40.0
Private          0.50  35.0           0.0          0.00            40.0
                 0.90  55.0           0.0          0.00            50.0
                 0.95  60.0        4386.0          0.00            60.0
Self-emp-inc     0.50  45.0           0.0          0.00            50.0
                 0.90  63.0       14084.0          0.00            65.0
                 0.95  67.0       15024.0       1902.00            70.0
Self-emp-not-inc 0.50  44.0           0.0          0.00            40.0
                 0.90  63.0        1409.0          0.00            63.0
                 0.95  68.0        7430.0       1672.00            72.0
State-gov        0.50  39.0           0.0          0.00            40.0
                 0.90  57.0           0.0          0.00            50.0
                 0.95  61.0        5178.0          0.00            60.0
Without-pay      0.50  57.0           0.0          0.00            27.5
                 0.90  67.7        1689.8          0.00            53.5
                 0.95  69.4        3114.7          0.00            58.5

In [ ]:
df_census.groupby("workclass")[["age","capital-gain","capital-loss","hours-per-week"]].mean()

                        age  capital-gain  capital-loss  hours-per-week
workclass
Federal-gov       42.590625    833.232292    112.268750       41.379167
Local-gov         41.751075    880.202580    109.854276       40.982800
Never-worked      20.571429      0.000000      0.000000       28.428571
Private           36.797585    889.217792     80.008724       40.267096
Self-emp-inc      46.017025   4875.693548    155.138889       48.818100
Self-emp-not-inc  44.969697   1886.061787    116.631641       44.421881
State-gov         39.436055    701.699538     83.256549       39.031587
Without-pay       47.785714    487.857143      0.000000       32.714286

In [39]:
df_census.groupby("workclass")[["age","capital-gain","capital-loss","hours-per-week"]].std()

                        age  capital-gain  capital-loss  hours-per-week
workclass
Federal-gov       11.509171   4101.966767    453.504623        8.838605
Local-gov         12.272856   5775.043442    439.513203       10.771559
Never-worked       4.613644      0.000000      0.000000       15.186147
Private           12.827721   6424.267599    384.157003       11.256298
Self-emp-inc      12.553194  17976.548086    549.488497       13.900417
Self-emp-not-inc  13.338162  10986.233506    467.611687       16.674958
State-gov         12.431065   3777.749185    394.469789       11.697014
Without-pay       21.075610   1300.780467      0.000000       17.357900

In [40]:
df_census.groupby("workclass")[["age","capital-gain","capital-loss","hours-per-week"]].var()

                         age  capital-gain   capital-loss  hours-per-week
workclass
Federal-gov       132.461017  1.682613e+07  205666.442818       78.120942
Local-gov         150.622997  3.335113e+07  193171.855905      116.026473
Never-worked       21.285714  0.000000e+00       0.000000      230.619048
Private           164.550434  4.127121e+07  147576.603140      126.704246
Self-emp-inc      157.582670  3.231563e+08  301937.608495      193.221591
Self-emp-not-inc  177.906562  1.206973e+08  218660.689455      278.054230
State-gov         154.531374  1.427139e+07  155606.414471      136.820127
Without-pay       444.181319  1.692030e+06       0.000000      301.296703